# Gridded data review

**Description:**   
This script is part of the annual gridded data review for CLRTAP 

**Original Author:** Christopher Evangelides   
**Date:**  May 2024   
**Maintainer:** XXX      
**Date:** XXX 20XX

In [64]:
import rasterio
from rasterio.plot import show
import numpy as np
import matplotlib.pyplot as plt
import sqlalchemy as db
from sqlalchemy import create_engine
import os
import geopandas as gpd
import pandas as pd
import pandas.io.sql as sqlio
import psycopg2 # Connect to DB
from psycopg2 import Error # Import error module to handle possible issues
from configparser import ConfigParser

In [65]:
user = os.getlogin()

root_path = os.path.join(r'C:\Users',user,"db_credentials")
filename_sqlalchemy = 'sqlalchemy_engine_gisdata.txt'

# Load the credentials with the correct path
def initiate_engine(filename_sqlalchemy):
    '''Takes the txt file with the paramters to connect to 
    the database, example: postgresql://user:password@localhost/database 
    and return the engine to connect to the database.'''
    user = os.getlogin()
    root_path = os.path.join(r'C:\Users',user,"db_credentials")
    sqlalchemy_filename_path = os.path.join(root_path, filename_sqlalchemy)
    # Load the credentials with the correct path
    if os.path.exists(sqlalchemy_filename_path):
        with open(sqlalchemy_filename_path) as f:
            lines = f.readlines()
            engine = db.create_engine(lines[0])
    return engine

In [66]:
# Test connection
austrian_emissions_query = '''
SELECT * FROM clrtap.cams_nmvoc_e_solvents  WHERE "ISO2" = 'AT'
'''
austrian_emissions = pd.read_sql_query(austrian_emissions_query, con=engine) 
austrian_emissions

,area,x,y,emission_t,gridallocation,ISO2,cellId,geom,year,pollutant_code
0,None,14.25,47.25,6.813483,None,AT,None,0101000020E61000000000000000802C400000000000A0...,2019,NMVOC
1,None,14.25,48.15,62.941979,None,AT,None,0101000020E61000000000000000802C40333333333313...,2019,NMVOC
2,None,16.35,47.25,27.928188,None,AT,None,0101000020E61000009A999999995930400000000000A0...,2019,NMVOC
3,None,10.55,47.15,48.600647,None,AT,None,0101000020E61000009A99999999192540333333333393...,2019,NMVOC
4,None,11.55,47.55,0.068277,None,AT,None,0101000020E61000009A999999991927406666666666C6...,2019,NMVOC
...,...,...,...,...,...,...,...,...,...,...
1111,None,12.65,47.45,4.691204,None,AT,None,0101000020E6100000CDCCCCCCCC4C29409A99999999B9...,2019,NMVOC
1112,None,14.75,46.85,9.117835,None,AT,None,0101000020E61000000000000000802D40CDCCCCCCCC6C...,2019,NMVOC
1113,None,14.05,47.55,9.809939,None,AT,None,0101000020E61000009A99999999192C406666666666C6...,2019,NMVOC
1114,None,15.25,47.95,4.130763,None,AT,None,0101000020E61000000000000000802E409A99999999F9...,2019,NMVOC
1115,None,13.25,47.65,5.410958,None,AT,None,0101000020E61000000000000000802A403333333333D3...,2019,NMVOC

## Preparation

In [67]:
stats_tot = pd.DataFrame()
std_res_tot = pd.DataFrame()

In [68]:
iso2_dict = {"AT": "Austria", "BE": "Belgium", "BG": "Bulgaria", "CH": "Switzerland", "CY": "Cyprus", "CZ": "Czech Republic", "DE": "Germany", "DK": "Denmark", "EE": "Estonia", "ES": "Spain", "FI": "Finland", "FR": "France", "GB": "United Kingdom", "GE": "Georgia", "GR": "Greece", "HR": "Croatia", "HU": "Hungary", "IE": "Ireland", "IT": "Italy", "LT": "Lithuania", "LU": "Luxembourg", "LV": "Latvia", "MC": "Monaco", "MK": "North Macedonia", "MT": "Malta", "NL": "Netherlands", "NO": "Norway", "PL": "Poland", "PT": "Portugal", "RO": "Romania", "RS": "Serbia", "RU": "Russia", "SE": "Sweden", "SI": "Slovenia", "SK": "Slovakia"}

In [119]:
poll = "NMVOC"
country_iso2 = "AT"

# CAMS
sql_cams = "SELECT * FROM clrtap.cams_nmvoc_e_solvents WHERE pollutant_code = '"+poll+"' AND \"ISO2\" = '"+country_iso2+"';"
sql_cams = "SELECT a.* FROM clrtap.cams_nmvoc_e_solvents a INNER JOIN clrtap.reported_nmvoc_e_solvents  b ON a.lonlat = b.lonlat WHERE pollutant_code = '"+poll+"' AND \"ISO2\" = '"+country_iso2+"';"
   
# Reported
sql_reported = "SELECT * FROM clrtap.reported_nmvoc_e_solvents WHERE pollutant_code = '"+poll+"' AND \"ISO2\" = '"+country_iso2+"' ;"
sql_reported = "SELECT a.* FROM clrtap.reported_nmvoc_e_solvents a INNER JOIN clrtap.cams_nmvoc_e_solvents  b ON a.lonlat = b.lonlat WHERE a.pollutant_code = '"+poll+"' AND a.\"ISO2\" = '"+country_iso2+"' ;"
  
# SELECT a.* FROM clrtap.reported_nmvoc_e_solvents a
# INNER JOIN clrtap.cams_nmvoc_e_solvents  b
# ON a.lonlat = b.lonlat
# WHERE a.pollutant_code = 'NMVOC' AND a."ISO2" = 'AT'


print(sql_cams)
print(sql_reported)

SELECT a.* FROM clrtap.cams_nmvoc_e_solvents a INNER JOIN clrtap.reported_nmvoc_e_solvents  b ON a.lonlat = b.lonlat WHERE pollutant_code = 'NMVOC' AND "ISO2" = 'AT';
SELECT a.* FROM clrtap.reported_nmvoc_e_solvents a INNER JOIN clrtap.cams_nmvoc_e_solvents  b ON a.lonlat = b.lonlat WHERE a.pollutant_code = 'NMVOC' AND a."ISO2" = 'AT' ;

## Run

In [120]:
iso2_dict = {"Austria":"AT"}

In [124]:
# CAMS
def query_poll_cams (poll, country_iso2):
    sql_cams = "SELECT a.* FROM clrtap.cams_nmvoc_e_solvents a INNER JOIN clrtap.reported_nmvoc_e_solvents  b ON a.lonlat = b.lonlat WHERE a.pollutant_code = '"+poll+"' AND a.\"ISO2\" = '"+country_iso2+"';"
    return sql_cams

# NECD
def query_poll_reported (poll, country_iso2):
    sql_reported = "SELECT a.* FROM clrtap.reported_nmvoc_e_solvents a INNER JOIN clrtap.cams_nmvoc_e_solvents b ON a.lonlat = b.lonlat WHERE a.pollutant_code = '"+poll+"' AND a.\"ISO2\" = '"+country_iso2+"' ;"
    return sql_reported

In [125]:
# Prepare table for out of the loop
df_var = {'pollutant': [''],
          'gnfr': [''],
          'country_iso2': [''],
          'country_iso2': [''],
          'R2': [''],
          'R2adj': [''],
          'obs': ['']}


poll_list = ['NMVOC']

gnfr_list = ["A_PublicPower","B_Industry","C_OtherStationaryComb","D_Fugitive","E_Solvents","F_RoadTransport", "G_Shipping","H_Aviation","I_Offroad","J_Waste","K_AgriLivestock","L_AgriOther"]
gnfr_list = ["E_Solvents"]

for ccountry in iso2_dict.keys():
#     print(iso2_dict[ccountry])
#     print(iso3_dict[ccountry])

    country_iso2 = iso2_dict[ccountry]
    country_iso3 = iso2_dict[ccountry]

    
    for poll in poll_list:


        # Retrieve Reported

        sql_reported = query_poll_reported(poll, country_iso2)
        data_reported = sqlio.read_sql_query(sql_reported, con=engine)

        data_reported = data_reported.drop(columns=["year", "units","x","y"])


        # Retrieve CAMS

        sql_cams = query_poll_cams(poll, country_iso2)
        data_cams = sqlio.read_sql_query(sql_cams, con=engine)

        data_cams = data_cams.drop(columns=["x","y","year","units"])

        dataTypeSeries = data_cams.dtypes
        # print('Data type of each column of Dataframe :')
        # print(dataTypeSeries)



        # JOIN

        ## Merge the two datasets
        merge_df = pd.merge(data_reported, data_cams, on='lonlat', how='outer',suffixes = ["_r","_c"])

        ## Change NAs to 0
        merge_df = merge_df.fillna(0)

        ## In case methodology changes and you want to drop the NAs..
        # merge_df.dropna(inplace=True)
        # merge_df.fillna(0)

        if len(merge_df['lonlat']) != len(data_reported['lonlat']):  #.unique
            print("Hey! There might be an issue here! Check the merging between the datasets!")
            print("Length of reported is  " + str(len(data_reported['lonlat'])))
            print("Length of merged_df is  " + str(len(merge_df['lonlat'])))
            print("Length of cams is  " + str(len(data_reported['lonlat'])))

        else:
            print("Length of merged_df is " + str(len(merge_df['lonlat'])))

        # INITIATE THE TABLE
        country = country_iso2
        ## Make a copy of the dataset
        merge_df2 = merge_df
        
        for gnfr in gnfr_list:
            
            ## Loop
            c_gnfr = gnfr + "_c"
            r_gnfr = gnfr + "_r"

            if (merge_df2[r_gnfr].sum() != 0) & (merge_df2[r_gnfr].sum() != 0):
            
                stats = pd.DataFrame(df_var, columns = ['pollutant','R2','R2adj','obs','country_iso2'])
                stats['pollutant'] = poll
                stats['country_iso2'] = country_iso2
                stats['gnfr'] = gnfr


                ## Create the regression model
                regression = smf.ols(str(c_gnfr+"~"+r_gnfr), merge_df2)
                ols_fit = regression.fit()
                # All the results in detail (it can be printed)
                ols_res = ols_fit.summary()

                # print(ols_res.summary())

                print("Results for: "+poll)
                print("R2    " + str(round(ols_fit.rsquared,2)))
                print("R2adj " + str(round(ols_fit.rsquared_adj,2)))
                print("n.obs " + str(int(ols_fit.nobs)))

                stats["R2"] = (round(ols_fit.rsquared,2))
                stats["R2adj"] = (round(ols_fit.rsquared_adj,2))
                stats["obs"] = (int(ols_fit.nobs))
                stats_tot = stats_tot.append(stats)

                # Add column with fitted values and residuals
                merge_df2[('yhat_'+poll)] = ols_fit.fittedvalues
                merge_df2[('res_'+poll)] = ols_fit.resid

                std_res = merge_df2[('res_'+poll)].std()
                merge_df2[('res_std_'+poll)] = merge_df2[('res_'+poll)]/std_res


                flag_res_h = merge_df2[(merge_df2["res_std_"+poll] >= 3)]
                flag_res_l = merge_df2[(merge_df2["res_std_"+poll] <= -3)]


                # best fit polynomials

                c_array = merge_df2[c_gnfr]
                r_array = merge_df2[r_gnfr]

                # Calculate the polynomial that fits
                merge_fit = np.polyfit(r_array, c_array, 1)

                ### Plot
                # Get the right positon for the formula
                max_val1 = merge_df2[c_gnfr].max()
                max_val2 = merge_df2[r_gnfr].max()
                up_pos = max_val1 * 0.18
                right_pos = max_val2 * 0.75
                up_pos2 = max_val1 * 0.25
                right_pos2 = max_val2 * 0.75
                up_pos3 = max_val1 * 0.32
                right_pos3 = max_val2 * 0.75

                c_poll = c_gnfr
                r_poll = r_gnfr

                rc['font.family'] = "sans-serif"
                font = "Roboto"
                # Scatter plots.
                ax1 = merge_df2.plot(kind='scatter', x=n_poll, y=c_poll, color='blue', alpha=0.4, figsize=(10 ,7))
                ax2 = flag_res_l.plot(kind='scatter', x=n_poll, y=c_poll, color='purple', alpha=0.8, figsize=(10 ,7), ax=ax1)
                flag_res_h.plot(kind='scatter', x=n_poll, y=c_poll, color='red', alpha=0.8, figsize=(10 ,7), ax=ax2)

                # # regression lines
                plt.plot(merge_df2[c_poll], merge_fit[0] * merge_df2[c_poll] + merge_fit[1], color='darkblue', linewidth=0.4)

                # # regression equations
                plt.text(right_pos, up_pos , 'y={:.0f}+{:.2f}*x'.format(merge_fit[1], merge_fit[0]), color='darkblue', alpha=0.8, fontname="Computer Modern", size=16)
                R2adj = ("R2 = " + str(round(ols_fit.rsquared,2)))
                plt.text(right_pos2, up_pos2, R2adj, color='darkblue', alpha=0.8, fontname="Computer Modern", size=16)
                obs = ("n.obs = " + str(int(ols_fit.nobs)))
                plt.text(right_pos3, up_pos3, obs, color='darkblue', alpha=0.8, fontname="Computer Modern", size=16)


                # # legend, title and labels.
                plt.legend(labels=['Regresion Line','Emissions in Â±3std','Emissions  <= 3std', 'Emissions  >= 3std' ], loc="lower right")
                plt.title(('OLS-regression CAMS-NECD emissions: '+poll), fontname=font, size=20, pad=12)
                plt.ylabel('CAMS (t)', fontname=font, size=15)
                plt.xlabel('Reported (t)', fontname=font, size=15)

                out_path1 = os.path.join(ROOT,"output_r2",("ols_resid_"+country_iso2+"_"+gnfr+"_"+poll+".png"))
                plt.savefig(out_path1 , dpi=150) # save as png
                plt.show()

                print("done")


        #(After the LOOP !!)
        # output resid
        
#         out_path3 = os.path.join(ROOT,("resid_"+country_iso2+"_"+poll+"_"+gnfr+".csv"))
#         merge_df2.to_csv(out_path3 , index = False)
    #     # output stats
    #     out_path4 = os.path.join(out_base,country,("stats_"+country+".csv"))
    #     stats.to_csv(out_path4 , index = False)

        # Apend datasets
        
#         stats_tot = stats_tot.append(stats)
#         std_res_tot = std_res_tot.append(merge_df2)

    
# out_path (After the LOOP !!)
out_path5 = os.path.join(ROOT,"output_r2",("stats_tot_nl.csv"))
stats_tot.to_csv(out_path5 , index = True)

# out_path6 = os.path.join(out_base,("std_res_total_"+user+".csv"))
# std_res_tot.to_csv(out_path6 , index = False)

Hey! There might be an issue here! Check the merging between the datasets!
Length of reported is  1293
Length of merged_df is  1661
Length of cams is  1293

KeyError: 'E_Solvents_r'

In [126]:
merge_df

,ISO2_r,sector,Pollutant,unit,emission_t_r,checked,geom_r,pollutant_code_r,lonlat,area,emission_t_c,gridallocation,ISO2_c,cellId,geom_c,pollutant_code_c
0,AT,E_Solvents,NMVOC,Mg,5.201231,1.0,0101000020E61000000000000000802C400000000000A0...,NMVOC,"14.25,47.25",0,6.813483,0,AT,0,0101000020E61000000000000000802C400000000000A0...,NMVOC
1,AT,E_Solvents,NMVOC,Mg,0.251048,1.0,0101000020E61000000000000000802840666666666686...,NMVOC,"12.25,47.05",0,0.054053,0,AT,0,0101000020E61000000000000000802840666666666686...,NMVOC
2,AT,E_Solvents,NMVOC,Mg,0.251048,1.0,0101000020E61000000000000000802840666666666686...,NMVOC,"12.25,47.05",0,0.054053,0,AT,0,0101000020E61000000000000000802840666666666686...,NMVOC
3,AT,E_Solvents,NMVOC,Mg,0.251048,1.0,0101000020E61000000000000000802840666666666686...,NMVOC,"12.25,47.05",0,0.054053,0,AT,0,0101000020E61000000000000000802840666666666686...,NMVOC
4,AT,E_Solvents,NMVOC,Mg,0.251048,1.0,0101000020E61000000000000000802840666666666686...,NMVOC,"12.25,47.05",0,0.054053,0,AT,0,0101000020E61000000000000000802840666666666686...,NMVOC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1656,0,0,0,0,0.000000,0.0,0,0,"11.55,46.95",0,0.153623,0,AT,0,0101000020E61000009A999999991927409A9999999979...,NMVOC
1657,0,0,0,0,0.000000,0.0,0,0,"10.75,46.85",0,0.096726,0,AT,0,0101000020E61000000000000000802540CDCCCCCCCC6C...,NMVOC
1658,0,0,0,0,0.000000,0.0,0,0,"9.55,47.15",0,9.161491,0,AT,0,0101000020E61000009A99999999192340333333333393...,NMVOC
1659,0,0,0,0,0.000000,0.0,0,0,"10.25,46.85",0,0.002845,0,AT,0,0101000020E61000000000000000802440CDCCCCCCCC6C...,NMVOC
1660,0,0,0,0,0.000000,0.0,0,0,"11.25,46.95",0,0.034139,0,AT,0,0101000020E610000000000000008026409A9999999979...,NMVOC

In [127]:
data_cams

,area,emission_t,gridallocation,ISO2,cellId,geom,pollutant_code,lonlat
0,None,23.545458,None,AT,None,0101000020E61000000000000000802A40CDCCCCCCCCAC...,NMVOC,"13.25,47.35"
1,None,0.870533,None,AT,None,0101000020E61000000000000000802340666666666686...,NMVOC,"9.75,47.05"
2,None,21.293913,None,AT,None,0101000020E61000006666666666E62A40CDCCCCCCCC6C...,NMVOC,"13.45,46.85"
3,None,21.825905,None,AT,None,0101000020E6100000CDCCCCCCCC4C2F40000000000060...,NMVOC,"15.65,46.75"
4,None,11.485651,None,AT,None,0101000020E61000000000000000403040000000000060...,NMVOC,"16.25,48.75"
...,...,...,...,...,...,...,...,...
1266,None,30.163086,None,AT,None,0101000020E61000006666666666E62D40000000000060...,NMVOC,"14.95,48.75"
1267,None,0.022759,None,AT,None,0101000020E61000009A99999999192840666666666686...,NMVOC,"12.05,47.05"
1268,None,1.206228,None,AT,None,0101000020E61000006666666666E62440CDCCCCCCCC6C...,NMVOC,"10.45,46.85"
1269,None,48.495956,None,AT,None,0101000020E61000006666666666E62940CDCCCCCCCCEC...,NMVOC,"12.95,47.85"
1270,None,4.719653,None,AT,None,0101000020E61000006666666666E624400000000000A0...,NMVOC,"10.45,47.25"

In [128]:
data_reported = sqlio.read_sql_query(sql_reported, con=engine)
data_reported

,ISO2,year,x,y,sector,Pollutant,unit,emission_t,checked,geom,pollutant_code,units,lonlat
0,AT,2019,14.25,47.25,E_Solvents,NMVOC,Mg,5.201231,1,0101000020E61000000000000000802C400000000000A0...,NMVOC,t,"14.25,47.25"
1,AT,2019,12.25,47.05,E_Solvents,NMVOC,Mg,0.251048,1,0101000020E61000000000000000802840666666666686...,NMVOC,t,"12.25,47.05"
2,AT,2019,14.25,48.15,E_Solvents,NMVOC,Mg,69.537851,1,0101000020E61000000000000000802C40333333333313...,NMVOC,t,"14.25,48.15"
3,AT,2019,16.35,47.25,E_Solvents,NMVOC,Mg,20.672403,1,0101000020E61000009A999999995930400000000000A0...,NMVOC,t,"16.35,47.25"
4,AT,2019,10.55,47.15,E_Solvents,NMVOC,Mg,42.331456,1,0101000020E61000009A99999999192540333333333393...,NMVOC,t,"10.55,47.15"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1288,AT,2019,14.05,47.55,E_Solvents,NMVOC,Mg,12.739127,1,0101000020E61000009A99999999192C406666666666C6...,NMVOC,t,"14.05,47.55"
1289,AT,2019,15.25,47.95,E_Solvents,NMVOC,Mg,5.745631,1,0101000020E61000000000000000802E409A99999999F9...,NMVOC,t,"15.25,47.95"
1290,AT,2019,14.25,46.45,E_Solvents,NMVOC,Mg,3.161990,1,0101000020E61000000000000000802C409A9999999939...,NMVOC,t,"14.25,46.45"
1291,AT,2019,13.25,47.65,E_Solvents,NMVOC,Mg,6.176293,1,0101000020E61000000000000000802A403333333333D3...,NMVOC,t,"13.25,47.65"
1292,AT,2019,16.05,46.85,E_Solvents,NMVOC,Mg,8.523389,1,0101000020E6100000CDCCCCCCCC0C3040CDCCCCCCCC6C...,NMVOC,t,"16.05,46.85"

In [129]:
sql_reported

'SELECT a.* FROM clrtap.reported_nmvoc_e_solvents a INNER JOIN clrtap.cams_nmvoc_e_solvents b ON a.lonlat = b.lonlat WHERE a.pollutant_code = \'NMVOC\' AND a."ISO2" = \'AT\' ;'